.welcomeMsgParent {
  margin-right: 200px;
}

.line {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); */
}

@media all and (max-width: 480px) {
  .welcomeMsgParent {
    margin-right: 0px;
  }

  .grid2 {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
