ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
  scroll-snap-type: x mandatory;
  overflow: auto;
  overflow: hidden;
  display: flex;
  flex: 1;
}

.entrySubmList li {
  /* margin-left: 10px;
  margin-right: 10px; */
  padding: 20px;
  /* min-width: 00px; */
  scroll-snap-align: center;
}

.entrySubmList li button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 50px;
  font-size: 18px;
  line-height: 26px;
  background: #cfd8dc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  max-height: 100px;
}

.entrySubmList :nth-child(1) button {
  background-color: rgba(16, 56, 155, 0.85);
}
.entrySubmList :nth-child(2) button {
  background: rgba(5, 185, 208, 0.85);
}
.entrySubmList :nth-child(3) button {
  background: rgba(60, 207, 142, 0.85);
}
.entrySubmList :nth-child(4) button {
  background: rgba(233, 63, 0, 0.85);
}

/* ==================== */

.lsit-aa {
  display: flex;
  margin: 10px 10px;
}

.nav-btn {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: max-content;
  width: max-content;
  padding: 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  align-self: center;
}
