@import '../../../Sass/abstract/variables';

.Sidebar2-container{
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  max-height: calc(100vh - 3.7rem);
  // height: 100vh;
  background-color: white;
  display: grid;
  grid-template-rows: 80% 20%;
  overflow-x: hidden;
  width: 13.75rem;
}

.Sidebar2 {
  position: relative;
  height: 100%;
}

.sidebar2-images {
  max-height: calc(100% - 2.8rem);
  overflow-y: auto;
}

.sidebar2-images::-webkit-scrollbar{
  width: 0.3rem;
  height: 0.3rem;
  background-color: #CFD8DC;
}

.sidebar2-images::-webkit-scrollbar-thumb{
  background-color: #00BCD4;
}

.sidebar2-left-2310{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.sidebar2-search-text{
  text-align: center;
  margin: 2rem auto 0.5rem;
  padding: 0.5rem;
  color: #444B54;
  background-color: #E9E8E5;
  width: 90%;
}

.sidebar2-images-container {
  display: flex;
  padding: 0 2rem;
  font-size: 0.9rem;
  margin: 0;
  &:hover {
    background-color: $color-grey-1;
 }
}

.sidebar2-icon {
  padding: 10px;
}

.sidebar2-divider{
  margin: 2rem auto 1rem;
  width: 80%;
  height: 2px;
  background-color: #000;
}
.sidebar2-bottom{
  padding-bottom: 4rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  text-align: center;

  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  text-align: center;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .Sidebar2-container{
    position: absolute;
    left: 3.625rem;
    z-index: 1000;
  }
}