.display-enter{
    /* transform: translateX(-100%); */
    max-width: 0;
}
.display-enter-active{
    /* transform: translateX(0); */
    max-width: 13.75rem;
    transition: all 400ms ease-in-out;
}
.display-exit{
    /* transform: translateX(0); */
    max-width: 13.75rem;
}
.display-exit-active{
    /* transform: translateX(-100%); */
    max-width: 0;
    transition: all 400ms ease-in-out;
}