.topBar {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

.topBar h3 {
  width: fit-content;
  margin: 0;
  padding: 10px;
  border-width: 10px;
  box-shadow: 0px 4px 4px rgba(255, 69, 0, 0.35);
  border-bottom: 4px solid #ff4500;
}
